<nav class="navbar navbar-light navbar-expand-md text-nowrap navigation-clean primary">
    <div class="container"><img style="width: 125px;height: 95px;margin: 5%;" src="../static/img/TdA_LOGO/TeacherDigitalAgency_LOGO_black.png"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="width: 80px;height: 70px;margin: 5%;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="height: 40px;width: 40px;"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Kdo jsme</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Databáze</a></li>
            </ul>
        </div>
    </div>
</nav>
<hr style="border: 2.5px solid"></hr>