<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Teacher digital Agency</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="picture"><img src="{{data['picture_url']}}"></img></div>
        <div class="name">{{data['title_before']}} {{data['first_name']}} {{data['middle_name']}} {{data['last_Name']}} {{data['title_after']}}</div>
        <div class="cena">{{data['price_per_hour']}}</div>
        <div class="location">{{data['location']}}</div>
        <div class="claim">{{data['claim']}}</div>
        <div class="bio">{{data['bio']}}</div>
        {% for tag in data['tags'] %}
        <div class="badge badge-warning tags">{{tag["name"]}}</div>
        {% endfor %}
        {% for telephone_number in data['contact']['telephone_numbers'] %}
        <div class="kontakt_phone">{{telephone_number}}</div>
        {% endfor %}
        {% for email in data['contact']['emails'] %}
        <div class="kontakt_email">{{email}}</div>
        {% endfor %}
    </div>
</body>
</html>
