<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Teacher digital Agency</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>
<body>
    <ul>
        <li class="picture"><img src="{{data['picture_url']}}"></img></li>
        <li class="name">{{data['title_before']}} {{data['first_name']}} {{data['middle_name']}} {{data['lastName']}}</li>
        <li class="location">{{data['location']}}</li>
        <li class="claim">{{data['claim']}}</li>
        <li class="bio">{{data['bio']}}</li>
        <li class="tags">{{data['tags']}}</li>
        <li class="cena">{{data['price_per_hour']}}</li>
        <li class="kontakt_phone">{{data['contact']}}</li>
        <li class="kontakt_email">{{data['contact']}}</li>
    </ul>
<p>
</body>
</html>
