<!doctype html>
<html lang="cz">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Teacher digital Agency</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="introduction">
            <img class="logo" src="{{ url_for('static', filename='img/TdA_LOGO/TeacherDigitalAgency_LOGO_black.png') }}" onclick="location.href='/';" style="cursor: pointer;">
            <div class="nadpisy text-center p-3 intro-text">Hello TdA!</div> 
            
            {% if current_user.is_authenticated %}
                <div class="btn btn-outline-primary login text-center" onclick="location.href='/lecturer/{{ current_user.uuid }}/admin';" style="cursor: pointer;">
                    <img class="icon" src="{{ url_for('static', filename='img/TdA_ikony/300ppi/TdA_ikony_nastaveni_black.png') }}">
                    <div class="text-na-bilem login-text">Manage</div>
                </div>
            {% else %}
                <div class="btn btn-outline-primary login text-center" onclick="location.href='/login';" style="cursor: pointer;">
                    <img class="icon" src="{{ url_for('static', filename='img/TdA_ikony/300ppi/TdA_ikony_studium_black.png') }}">
                    <div class="text-na-bilem login-text">Login</div>
                </div>
            {% endif %}
        </div>
        <div class="login-form text-na-bilem">
            <form method="post">
                <img class="login-logo" src="{{ url_for('static', filename='img/TdA_LOGO/TeacherDigitalAgency_LOGO_black.png') }}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="errors text-na-bilem">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            {% for message in messages %}
                            <div class="error danger">{{ message }}</div>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
                </div>
                <input type="submit" class="btn btn-success text-na-cernem login-button" value="Login">
            </form>
        </div>
    <footer class="text-center text-lg-start" style="background-color: #db6930;">
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="#">Teacher digital Agency</a>
        </div>
    </footer>
</div>
</body>
</html>