<!DOCTYPE html>
<html>
<head>
    <title>Minimum Setup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-calendar/0.2.5/css/calendar.min.css">
</head>
<body>

    <div id="calendar"></div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/calendar/language.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/calendar/calendar.js') }}"></script>
    <script type="text/javascript">
		var calendar = $('#calendar').calendar({
            tmpl_path: "../static/js/calendar/tmpls/",
            language: 'cs-CZ',
            views: {
                year: {
                    slide_events: 1,
                    enable: 1
                },
                month: {
                    slide_events: 1,
                    enable: 1
                },
                week: {
                    enable: 1
                },
                day: {
                    enable: 1
                }
            },
            events_source: [
            {
                "id": 1,
                "title": "Event 1",
                "url": "http://example.com",
                "class": "event-important",
                "start": 1708446760885, // Milliseconds
                "end": 1708449060885 // Milliseconds
            },
        ]
        })
	</script>
</body>
</html>