<!doctype html>
<html lang="cz">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Teacher digital Agency</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/glyphicons.css') }}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.49/css/bootstrap-datetimepicker.min.css'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.49/js/bootstrap-datetimepicker.min.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/calendar/cs.js') }}"></script>
  </head>
  <body class="p-3">
    <h1 class="text-center pd-5 nadpisy message" id="success-message" style="display: none;">Rezervace byla úspěšně vytvořena!</h1>
    <h1 class="text-center pd-5 nadpisy message" id="error-message" style="display: none;">Error: Lecturer not found.</h1>
    <form class="rezervovani-form text-na-bilem form-floating needs-validation" style="display: none;" novalidate id="rezervacni-formular">
      <!--
        
        INFORMACE STUDENTA
        
      -->
      <div class="row g-2">
        <label class="form-label">Informace studenta</label>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="firstName" placeholder="Jméno" required>
            <label for="firstName">Jméno</label>
              <div class="invalid-feedback">Prosím zadejte jméno.</div>      
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="lastName" placeholder="Příjmení" required>
            <label for="lastName">Příjmení</label>
              <div class="invalid-feedback">Prosím zadejte příjmení.</div>  
          </div>
        </div>
        <!--
          
          KONTAKT STUDENTA
          
        -->
        <label class="form-label">Kontakt studenta</label>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="email" placeholder="Email" required>
            <label for="firstName">Email</label>
              <div class="invalid-feedback">Prosím zadejte validní email.</div>  
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="phone" placeholder="Telefon" required>
            <label for="lastName">Telefon</label>
              <div class="invalid-feedback">Prosím zadej validní telefon.</div>  
          </div>
        </div>
        <!--
          
          INFORMACE REZERVACE
          
        -->
        <label class="form-label">Informace rezervace</label>
        <div class="input-group">
          <span class="input-group-text">Lokace</span>
          <select class="form-select text-na-bilem" title="Lokace" aria-label="location" id="location" required>
            <option value="online" class="text-na-bilem" selected>Online</option>
            <option value="offline" class="text-na-bilem">Offline</option>
          </select>
          <div class="invalid-feedback">Prosím zadej lokaci.</div>  
        </div>
        <div class="input-group">
          <span class="input-group-text">Předmět</span>
          <select class="form-select" title="Předmět" aria-label="subject" id="subject" required>
            {% if tags %}
              {% for tag in tags %}
                <option value="{{tag.name}}">{{tag.name}}</option>
              {% endfor %}
            {% else %}
              <option value=""></option>
            {% endif %}
          </select>
          <div class="invalid-feedback">Prosím zadej předmět.</div>  
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Poznámky pro lektora" id="notes" style="height: 100px"></textarea>
          <label for="notes">Poznámky pro lektora</label>
        </div>
        <!--
          
          DATUM - ČAS REZERVACE
          
        -->
        <label class="form-label">Čas začátku</label>
        <div class="input-group date">
          <input class="form-control" placeholder="YYYY-MM-DD HH" id="StartTime" required/>
          <div class="invalid-feedback">Prosím zadej začátek lekce.</div>  
        </div>
        <label class="form-label">Čas konce</label>
        <div class="input-group date">
          <input class="form-control" placeholder="YYYY-MM-DD HH" id="EndTime" required/>
          <div class="invalid-feedback">Prosím zadej konec lekce.</div>  
        </div>
      

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="danger">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <button type="submit" id="submit-button" class="btn btn-primary">Rezerovat</button>
      </div>
    </form>
    <script src="{{ url_for('static', filename='js/datetime.config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rezervovani.formsend.js') }}"></script>
    <script src="{{ url_for('static', filename='js/show.logic.js') }}"></script>
  </body>
</html>