<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>

</head>
<body>
	<div class="container rezervace">
        {% if data %}
            {% for rezervace in data %}
            <div class="rezervace" id="{{rezervace['uuid']}}">
                <div class="rezervace-date">{{rezervace['date']}}</div>
                <div class="rezervace-time">{{rezervace['start_time']}}-{{rezervace['end_time']}}</div>
                <div class="student">
                    <div class="rezervace-student-name">{{rezervace['first_name_student']}} {{rezervace['last_name_student']}}</div>
                    <div class="rezervace-student-kotakt">{{rezervace['email_student']}} {{rezervace['number_student']}}</div>
                </div>
                <div class="rezervace-poznamky">{{rezervace['notes']}}</div>
                <div class="rezervace-tag">{{rezervace['subject']}}</div>
            </div>
            {% endfor %}
        {% else %}
            <div id="noResultsMessage" class="text-center pd-5 nadpisy" style="margin-top: 10vh;margin-bottom: 10vh;font-size: xx-large;display: none;">No rezervace found.</div>
        {% endif %}
        </div>
</body>
</html>