<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h1>test</h1>
    <form method="post">
        <label for="title_before">title_before</label>
        <input type="text" name="title_before" id="title_before" class="form-control">
        <label for="first_name">first_name</label>
        <input type="text" name="first_name" id="first_name" class="form-control">
        <label for="middle_name">middle_name</label>
        <input type="text" name="middle_name" id="middle_name" class="form-control">
        <label for="last_name">last_name</label>
        <input type="text" name="last_name" id="last_name" class="form-control">
        <label for="title_after">title_after</label>
        <input type="text" name="title_after" id="title_after" class="form-control">
        <label for="picture_url">picture_url</label>
        <input type="text" name="picture_url" id="picture_url" class="form-control">
        <label for="location">location</label>
        <input type="text" name="location" id="location" class="form-control">
        <label for="claim">claim</label>
        <input type="text" name="claim" id="claim" class="form-control">
        <label for="bio">bio</label>
        <input type="text" name="bio" id="bio" class="form-control">
        <label for="price_per_hour">price_per_hour</label>
        <input type="text" name="price_per_hour" id="price_per_hour" class="form-control">
        <input type="submit" class="btn btn-success" value="Send">
    </form>
</body>
</html>